html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
}

body {
  font-family: "Tiro Devanagari Sanskrit", serif;
  height: 100vh;
  background-image: linear-gradient(174.2deg, rgb(255, 244, 228) 7.1%, rgb(240, 246, 238) 67.4%);
  margin: 0px;
  overflow: hidden;
}

#content {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 16px;
  height: inherit;
  width: 100%;
  box-sizing: border-box;
}

#back-page {
  z-index: 100;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
  border: 0;
  padding: 0;
}
#back-page[data-status=inactive] {
  display: none;
}
#back-page[data-status=active] {
  display: flex;
}

.image {
  z-index: 101;
  position: absolute;
  transform: translate(-50%, -50%);
}
.image[data-status=inactive] {
  display: none;
}
.image[data-status=active] {
  display: block;
}

.mix {
  mix-blend-mode: difference;
}

.text-center {
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: grey;
  font-size: 3em;
}

.navbar {
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-overflow: clip;
  background: linear-gradient(skyblue 0%, transparent 70%, transparent 100%);
}

.navMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navMenu a {
  color: #545454;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: lowercase;
  font-weight: 500;
  display: inline-block;
  width: 100px;
  transition: all 0.2s ease-in-out;
}
.navMenu a :hover {
  color: #fddb3a;
}
.navMenu a:nth-child(1):hover ~ .dot {
  transform: translateX(25px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.navMenu a:nth-child(2):hover ~ .dot {
  transform: translateX(120px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.navMenu a:nth-child(3):hover ~ .dot {
  transform: translateX(240px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.navMenu a:nth-child(4):hover ~ .dot {
  transform: translateX(340px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.navMenu .dot {
  width: 6px;
  height: 6px;
  background: red;
  border-radius: 50%;
  opacity: 0;
  transform: translateX(30px);
  transition: all 0.2s ease-in-out;
}

#transition {
  z-index: 150;
}

.buttons {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  z-index: -1;
}
.buttons button {
  border: none;
  background: rgba(0, 0, 0, 0.02);
  border-radius: 5px;
  cursor: pointer;
}
.buttons button:hover {
  background: rgba(0, 0, 0, 0.04);
}
.buttons #bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
}

.bottom-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  bottom: auto;
  right: auto;
  background: #48466d;
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.bottom-layer.active {
  top: -100%;
}
.bottom-layer--2 {
  background: #ecf3a3;
  transition-delay: 0.12s;
}
.bottom-layer--3 {
  background: #95a792;
  transition-delay: 0.4s;
}

#front-page {
  width: 100%;
  height: 100%;
  z-index: 125;
  background-image: linear-gradient(174.2deg, rgb(255, 244, 228) 7.1%, rgb(240, 246, 238) 67.4%);
}
#front-page[data-status=inactive] {
  display: none;
}
#front-page[data-status=active] {
  display: block;
}/*# sourceMappingURL=photos.css.map */